<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <nobr>  <a href="/">Home</a>
<a href="/signup">Signup</a>
<a href="/login">Login</a></nobr>
    <title>spritle</title>
     <link rel=stylesheet href="/css/style.css">
</head>
<body  background="/img/bgm.png">
  <div class="loginform">
    <form action="/login_in" method="POST">
 
    <label >Email address</label><br>
    <input type="email" class="form-control" id="Email1" name="email"><br>
 
    <label for="exampleInputPassword1">Password</label><br>
    <input type="password" class="form-control" id="Password1" name="password"><br>
 
 
  <button type="submit"  class="btnlogin">Login</button><br><br>
  <label>create an account <a href="/signup">signup</a></label>
</form>
</div>
</body>
</html>