<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <nobr>    <a href="/">Home</a>
<a href="/signup">Signup</a>
<a href="/login">Login</a></nobr>
    <title>signup</title>
    <link rel=stylesheet href="/css/style.css">
</head>
<body  background="/img/bgm.png"><div class="signup">
  <form action="/signup_in" method="POST" class="signupform" validate>
 

    
    
      <label >First name</label><br>
      <input type="text" class="form-control" id="firstname" name="firstname" ><br>
    
 
      <label >Last name</label><br>
      <input type="text" class="form-control" id="lastname" name="lastname"><br>
    
  
      <label >City</label><br>
      <input type="text" class="form-control" id="city" name="city"><br>

      <label >Date Of Birth</label><br>
      <input type="date" class="form-control" id="dob" name="dob"><br>

<label >Phone</label><br>
      <input type="number" class="form-control" id="phone" name="phone"><br>

      <label>Email</label><br>
     <input type="email" class="form-control" id="email" name="email"><br>


        <label>Password</label><br>
     <input type="password" class="form-control" id="password" name="password"><br>

<button type="submit"  class="btnsignup">Signup</button><br><br>

    <label>already have an account.? <a href="/login">login</a></label>
</form>
  
</div>
</body>
</html>